<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TBallClubMapper">
  <resultMap id="BaseResultMap" type="dao.pojo.TBallClub">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="reputation" jdbcType="INTEGER" property="reputation" />
    <result column="nation" jdbcType="INTEGER" property="nation" />
    <result column="league" jdbcType="INTEGER" property="league" />
    <result column="levelTeam0" jdbcType="BIT" property="levelteam0" />
    <result column="levelTeam21" jdbcType="BIT" property="levelteam21" />
    <result column="levelTeam18" jdbcType="BIT" property="levelteam18" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, money, reputation, nation, league, levelTeam0, levelTeam21, levelTeam18
  </sql>
  <select id="selectByExample" parameterType="dao.pojo.TBallClubExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ball_club
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ball_club
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ball_club
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="dao.pojo.TBallClubExample">
    delete from t_ball_club
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="dao.pojo.TBallClub">
   	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ball_club (id, name, money, 
      reputation, nation, league, 
      levelTeam0, levelTeam21, levelTeam18
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, 
      #{reputation,jdbcType=INTEGER}, #{nation,jdbcType=INTEGER}, #{league,jdbcType=INTEGER}, 
      #{levelteam0,jdbcType=BIT}, #{levelteam21,jdbcType=BIT}, #{levelteam18,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="dao.pojo.TBallClub">
    insert into t_ball_club
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="reputation != null">
        reputation,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="league != null">
        league,
      </if>
      <if test="levelteam0 != null">
        levelTeam0,
      </if>
      <if test="levelteam21 != null">
        levelTeam21,
      </if>
      <if test="levelteam18 != null">
        levelTeam18,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="reputation != null">
        #{reputation,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="league != null">
        #{league,jdbcType=INTEGER},
      </if>
      <if test="levelteam0 != null">
        #{levelteam0,jdbcType=BIT},
      </if>
      <if test="levelteam21 != null">
        #{levelteam21,jdbcType=BIT},
      </if>
      <if test="levelteam18 != null">
        #{levelteam18,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dao.pojo.TBallClubExample" resultType="java.lang.Long">
    select count(*) from t_ball_club
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_ball_club
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.reputation != null">
        reputation = #{record.reputation,jdbcType=INTEGER},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=INTEGER},
      </if>
      <if test="record.league != null">
        league = #{record.league,jdbcType=INTEGER},
      </if>
      <if test="record.levelteam0 != null">
        levelTeam0 = #{record.levelteam0,jdbcType=BIT},
      </if>
      <if test="record.levelteam21 != null">
        levelTeam21 = #{record.levelteam21,jdbcType=BIT},
      </if>
      <if test="record.levelteam18 != null">
        levelTeam18 = #{record.levelteam18,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_ball_club
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=INTEGER},
      reputation = #{record.reputation,jdbcType=INTEGER},
      nation = #{record.nation,jdbcType=INTEGER},
      league = #{record.league,jdbcType=INTEGER},
      levelTeam0 = #{record.levelteam0,jdbcType=BIT},
      levelTeam21 = #{record.levelteam21,jdbcType=BIT},
      levelTeam18 = #{record.levelteam18,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dao.pojo.TBallClub">
    update t_ball_club
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="reputation != null">
        reputation = #{reputation,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="league != null">
        league = #{league,jdbcType=INTEGER},
      </if>
      <if test="levelteam0 != null">
        levelTeam0 = #{levelteam0,jdbcType=BIT},
      </if>
      <if test="levelteam21 != null">
        levelTeam21 = #{levelteam21,jdbcType=BIT},
      </if>
      <if test="levelteam18 != null">
        levelTeam18 = #{levelteam18,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="dao.pojo.TBallClub">
    update t_ball_club
    set name = #{name,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      reputation = #{reputation,jdbcType=INTEGER},
      nation = #{nation,jdbcType=INTEGER},
      league = #{league,jdbcType=INTEGER},
      levelTeam0 = #{levelteam0,jdbcType=BIT},
      levelTeam21 = #{levelteam21,jdbcType=BIT},
      levelTeam18 = #{levelteam18,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>