<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TMatchMapper">
  <resultMap id="BaseResultMap" type="dao.pojo.TMatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="club_id_1" jdbcType="BIGINT" property="clubId1" />
    <result column="club_id_2" jdbcType="BIGINT" property="clubId2" />
    <result column="match_time" jdbcType="BIGINT" property="matchTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="club_name_1" jdbcType="VARCHAR" property="clubName1" />
    <result column="club_name_2" jdbcType="VARCHAR" property="clubName2" />
    <result column="score_match" jdbcType="VARCHAR" property="scoreMatch" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, club_id_1, club_id_2, match_time, create_time, club_name_1, club_name_2, score_match
  </sql>
  <select id="selectByExample" parameterType="dao.pojo.TMatchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_match
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_match
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_match
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="dao.pojo.TMatchExample">
    delete from t_match
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="dao.pojo.TMatch">
    insert into t_match (id, club_id_1, club_id_2, 
      match_time, create_time, club_name_1, 
      club_name_2, score_match)
    values (#{id,jdbcType=BIGINT}, #{clubId1,jdbcType=BIGINT}, #{clubId2,jdbcType=BIGINT}, 
      #{matchTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{clubName1,jdbcType=VARCHAR}, 
      #{clubName2,jdbcType=VARCHAR}, #{scoreMatch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dao.pojo.TMatch">
    insert into t_match
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clubId1 != null">
        club_id_1,
      </if>
      <if test="clubId2 != null">
        club_id_2,
      </if>
      <if test="matchTime != null">
        match_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="clubName1 != null">
        club_name_1,
      </if>
      <if test="clubName2 != null">
        club_name_2,
      </if>
      <if test="scoreMatch != null">
        score_match,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clubId1 != null">
        #{clubId1,jdbcType=BIGINT},
      </if>
      <if test="clubId2 != null">
        #{clubId2,jdbcType=BIGINT},
      </if>
      <if test="matchTime != null">
        #{matchTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="clubName1 != null">
        #{clubName1,jdbcType=VARCHAR},
      </if>
      <if test="clubName2 != null">
        #{clubName2,jdbcType=VARCHAR},
      </if>
      <if test="scoreMatch != null">
        #{scoreMatch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dao.pojo.TMatchExample" resultType="java.lang.Long">
    select count(*) from t_match
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_match
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.clubId1 != null">
        club_id_1 = #{record.clubId1,jdbcType=BIGINT},
      </if>
      <if test="record.clubId2 != null">
        club_id_2 = #{record.clubId2,jdbcType=BIGINT},
      </if>
      <if test="record.matchTime != null">
        match_time = #{record.matchTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.clubName1 != null">
        club_name_1 = #{record.clubName1,jdbcType=VARCHAR},
      </if>
      <if test="record.clubName2 != null">
        club_name_2 = #{record.clubName2,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreMatch != null">
        score_match = #{record.scoreMatch,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_match
    set id = #{record.id,jdbcType=BIGINT},
      club_id_1 = #{record.clubId1,jdbcType=BIGINT},
      club_id_2 = #{record.clubId2,jdbcType=BIGINT},
      match_time = #{record.matchTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      club_name_1 = #{record.clubName1,jdbcType=VARCHAR},
      club_name_2 = #{record.clubName2,jdbcType=VARCHAR},
      score_match = #{record.scoreMatch,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dao.pojo.TMatch">
    update t_match
    <set>
      <if test="clubId1 != null">
        club_id_1 = #{clubId1,jdbcType=BIGINT},
      </if>
      <if test="clubId2 != null">
        club_id_2 = #{clubId2,jdbcType=BIGINT},
      </if>
      <if test="matchTime != null">
        match_time = #{matchTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="clubName1 != null">
        club_name_1 = #{clubName1,jdbcType=VARCHAR},
      </if>
      <if test="clubName2 != null">
        club_name_2 = #{clubName2,jdbcType=VARCHAR},
      </if>
      <if test="scoreMatch != null">
        score_match = #{scoreMatch,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="dao.pojo.TMatch">
    update t_match
    set club_id_1 = #{clubId1,jdbcType=BIGINT},
      club_id_2 = #{clubId2,jdbcType=BIGINT},
      match_time = #{matchTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      club_name_1 = #{clubName1,jdbcType=VARCHAR},
      club_name_2 = #{clubName2,jdbcType=VARCHAR},
      score_match = #{scoreMatch,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>